.dishesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  margin-top: 34px;
  margin-bottom: 30px;
}

.dishCard {
  width: 184px;
  height: 354px;
  background: white;
  border-radius: 8px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.dishImage {
  width: 100%;
  height: 184px;
  border-radius: 8px;
}

.dishName {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  text-align: left;
}

.dishDescription {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: left;
  color: #262627;
}

.dishPrice {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
  color: #ffbf00;
}

.dishTags {
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  text-align: left;
}

.tag {
  font-size: 16px;
  color: #B17F49;
}

.season {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.63px;
  color: yellow;
  padding-left: 10px;
}

.dishDetailContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.detailHeader {
  display: flex;
}

.detailImage {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.exitButton {
  position: absolute;
  top: 50px;
  right: 20px;
  width: 52px;
  height: 52px;
  background-color: #e9e9e9;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.exitButton:hover {
  background-color: #d0d0d0;
}

.detailName {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.94px;
  text-align: left;
}

.detailDescription {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
}

.info {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.85px;
  text-align: left;
  color: black;
}

.descriptionBox {
  position: relative;
  margin: 20px;
}

.separator {
  border: none;
  border-top: 1px solid #f2f2f2;
}

.addOrder {
  font-family: Montserrat;
  font-weight: 400;
  line-height: 15.85px;
  margin: auto;
  margin-top: 100px;
  border: none;
  border-radius: 12px;
  font-size: 26px;
  cursor: pointer;
  background-color: #e9e9e9;
  padding: 20px;
}

.addOrder:hover {
  background-color: #d0d0d0;
}

.arabic {
  text-align: right;
}